{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table>
        <tr>
            <th>Transaction type</th>
            <th>Stock quote</th>
            <th>Price per share</th>
            <th>Amount of shares</th>
            <th>Date and time</th>
        </tr>
        {% for row in transactions %}
        <tr>
            <th>{{ row["transaction_type"] }}</th>
            <td>{{ row["stock_type"] }}</td>
            <td>{{ row["price_per_stock"] }}</td>
            <td>{{ row["amount"] }}</td>
            <td>{{ row["time"] }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
