<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="/static/favicon.ico" rel="icon">

    <link href="/static/styles.css" rel="stylesheet">

    <title>Ski School: {% block title %}{% endblock %}</title>
</head>

<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="/static/logo.png" width="120px" height="20px"></a>
            </div>
            {% if current_user.is_authenticated %}
                <!-- Left side nav bar (logged IN)-->
                <ul class="nav navbar-nav">
                    <!-- Owner only-->
                    {% if current_user.role == "owner" %}
                        <li><a href="/owner/working_hours">Working Hours</a></li>
                        <li><a href="/owner/admin_schedule">Admin Schedule</a></li>
                    {% endif %}

                    <!-- Admin and owner only-->
                    {% if current_user.role == "admin" or current_user.role == "owner" %}
                        <li><a href="/admin/home">Dashboard</a></li>
                        <li><a href="/admin/manage_time_requests">Time Requests</a></li>
                        <li><a href="/admin/instructor_schedule">Instructor Schedule</a></li>
                    {% endif %}
                    <!-- Instructor only-->
                    {% if current_user.role == "instructor" %}
                        <li><a href="/instructor/calendar">Calendar</a></li>
                        <li><a href="/instructor/history">History</a></li>
                    {% endif %}
                    <!-- Customer only-->
                    {% if current_user.role == "customer" %}
                        <li><a href="/customer/book_lesson">Book Lesson</a></li>
                        <li><a href="/customer/my_lessons">My Lessons</a></li>
                    {% endif %}
                </ul>
                <!-- Right side nav bar (logged IN)-->
                <ul class="nav navbar-nav navbar-right">
                    <!-- Owner only-->
                    {% if current_user.role == "owner" %}
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage users <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/owner/add_user">Add user</a></li>
                                <li><a href="/owner/edit_staff_info">Edit staff information</a></li>
                                <li><a style="
                                    background-color: #f8d7da;
                                    color: #721c24;
                                    border: 1px solid #f5c6cb;
                                    padding: auto;
                                    margin-top: 2px;" href="/owner/delete_user">DELETE USER</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    <!-- Everyone-->
                    <li><a href="/settings"><span class="glyphicon glyphicon-user"></span>Profile settings</a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                </ul>
                {% else %}
                    <!-- Right side nav bar (logged OUT)-->
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/register"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
                        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
                    </ul>
            {% endif %}
        </div>
    </nav>

    {% if get_flashed_messages() %}
        <div class="container">
            <div class="alert alert-info text-center" role="alert">
                {{ get_flashed_messages() | join(" ") }}
            </div>
        </div>
    {% endif %}

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer class="small text-center text-muted">
        <div class="container">
            <p>Ski School Management System</p>
        </div>
    </footer>
</body>

</html>