{% extends "layout.html" %}

{% block title %}
    Sell stocks
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol">
                <option disabled selected value=>Stock quote</option>
                {% for quote in quotes %}
                    <option value="{{ quote['stock_type'] }}">{{ quote['stock_type'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="shares" placeholder="Amount of shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell shares</button>
    </form>
{% endblock %}
